#input {
  background-color: transparent;
  border-color: black;
}

#detectButton {
  border-color: #00e1ff;
  color: #00e1ff;
}

#detectButton:hover {
  background-color: #00e1ff;
  color: white;
}

#input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
